@use 'styles/variables' as *;

/* Basic app CSS with media queries, lines 2-24 */
#root {
  margin: 0 auto;
  padding: 4rem;
  color: $primary-color;
  font-family: $main-font;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 900px) {
  #root {
    padding: 2rem;
  }
}

@media screen and (max-width: 525px) {
  #root {
    padding: 4rem 0 2rem;
  }
}
/* Basic app CSS end */

/* Main component CSS, lines 23-67 */
.languageButtons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.languageBtn {
  font-weight: normal;
  border-bottom: none;
  transition: border-bottom 0.3s;
  color: $primary-color !important;
  margin-right: 10px !important;
}

.languageBtn.active {
  font-weight: bold;
  text-decoration: underline;
}

.copyright-info-text {
  margin: 0;
  float: right;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 15px 9px;
  font-size: 18px;
  background-color: $primary-color;
  color: #fff;
  border: 1px solid $secondary-color;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  pointer-events: 'auto';
  display: 'inline-block';
}
/* Main component CSS end */

.title-modal {
  font-family: Roboto, 'Helvetica Neue', Arial, 'sans-serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 225px;
  border: 2px solid $primary-color;
  border-radius: 8px;
  background: #fff;
  box-shadow: 1px solid $secondary-color;
}
