@use 'styles/variables' as *;
.tab {
  color: $primary-color !important;
  text-transform: none;

  &.Mui-selected {
    color: $primary-color;
    font-weight: bold;
  }
}

[id^='tabpanel-'] > div:first-child {
  padding: 12px;
}

[id^='tabpanel-'] p {
  font-size: 16px;
  color: $primary-color;
}

// --- Textfield CSS override ---
.text-input {
  width: 30%;

  @media (max-width: 1100px) {
    width: 40%;
  }
  @media (max-width: 900px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }

  label,
  label.Mui-focused,
  label.MuiInputLabel-shrink,
  &:hover label {
    color: $primary-color;
  }

  .MuiOutlinedInput-root {
    fieldset,
    &:hover fieldset,
    &.Mui-focused fieldset {
      border-color: $primary-color;
    }
  }
}
