.tab {
  color: #006400 !important;
  text-transform: none !important;
}

.tab.Mui-selected {
  color: #006400 !important;
  font-weight: bold !important;
}

#tabpanel-0 > div:first-child,
#tabpanel-1 > div:first-child {
  padding: 12px;
}

#tabpanel-0 p,
#tabpanel-1 p {
  font-size: 15px;
  color: #006400;
}
