@use 'styles/variables' as *;

.bills-table {
  td {
    border: 2px solid $primary-color;
    color: $primary-color;
  }
  th {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: 2px solid $primary-color;
  }

  .bills-table tr:hover td {
    background-color: $secondary-color;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  .MuiSvgIcon-root {
    color: #ff8c00;
  }
}
